---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Link from '@components/Link.astro';
import AvailableAtGithub from '@components/AvailableAtGithub.astro';
import { BASE_URL_PATH, PROJECT_NAME, REPO_URL } from 'src/constants';
import { returns200 } from 'src/utils';

type Props = {
  main_id?: string,
  h1_title: string,
}

const { main_id, h1_title } = Astro.props;

const route = Astro.url.pathname.split(BASE_URL_PATH).at(-1)!.replace(/\/$/, '').slice(1);
const extensionsToTry = ['.mdx', '', '.astro'];

let GITHUB_URL = '';

for (const ext of extensionsToTry) {
  const url = `${REPO_URL}/blob/main/site/src/pages/${route}${ext}?plain=1`
  if (await returns200(url, { prodOnly: true })) {
    GITHUB_URL = url;
    break;
  }
}

if (!GITHUB_URL) {
  GITHUB_URL = REPO_URL;
}
---

<Layout title={h1_title}>
  <Header />
  <main>
    <Link back>Go back</Link>
    <section>
      <h1>{h1_title}</h1>
      <AvailableAtGithub href={GITHUB_URL}>
        @grupo6/{PROJECT_NAME}/{route}
      </AvailableAtGithub>
    </section>
    <section id={main_id}>
      <slot />
    </section>
  </main>
</Layout>

<style lang="scss">
  h1 {
    margin-top: 10px;
    margin-bottom: 0.5rem;
  }
  html {
    scrollbar-gutter: stable;
  }
  main {
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 100ch;
  }
  section {
  }
  svg {
    display: none;
  }
</style>

<style is:global>
  code {
    font-size: 14px;
  }
  pre code {
    font-size: 14px;
  }
</style>
