---
import { PROJECT_NAME } from 'src/constants';
import { Code } from 'astro:components';
import fs from 'node:fs/promises';
import type {
	BuiltinLanguage,
	LanguageRegistration,
	SpecialLanguage,
} from 'shiki';

type Props = {
  file: string;
  lang?: BuiltinLanguage | SpecialLanguage | LanguageRegistration;
  line_start?: number;
  line_end?: number;
}

let { file, lang, line_start, line_end } = Astro.props;

let assets_dir = './../assets/code';
if (file.startsWith('@src')) {
  file = file.replace('@src', '../..');
}
if (import.meta.env.PROD) {
  assets_dir = '../code';
  if (file.startsWith('@src')) {
    file = file.replace('@src', '../code/src');
  }
}

const url = new URL(`${assets_dir}/${file}`, import.meta.url);

let content = await fs.readFile(url, 'utf-8');
content = content.split('\n').slice((line_start ?? 1) - 1, line_end).join('\n');
---

<div>
  <span>
    <a href=`/${PROJECT_NAME}/code/${file}` target="_blank">
      {file.replace(/\/+$/, '').split('/').at(-1)}
    </a>
  </span>
  <Code code={content} lang={lang ?? 'java'} theme="github-light" />
</div>

<style lang="scss">
  pre {
    border-radius: 0.5rem !important;
    background-color: #f5f5f5 !important;
    display: block;
    padding: 1rem;
    font-size: 15px;
    overflow: auto;
    white-space: pre;
    margin-bottom: 10px;
  }

  div {
    position: relative;
  }
  span {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 10000;
    font-size: 14px;
  }
</style>
